::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.video-js {
    position: relative;
}

.vjs-chat {
    position: absolute;
    right: -60%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    display: none;
    flex-direction: column;
    overflow-y: auto;
}

.vjs-chat-messages {
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    max-height: 200px;
    padding: 5px 2px;
    border-bottom: 1px solid #ccc;
}

.vjs-chat-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.vjs-chat-input {
    width: calc(100% - 90px);
    min-width: 80px;
    flex-grow: 1;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 30px;
}

.vjs-chat-button {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
}

.vjs-chat-button:hover {
    background-color: #ccc;
    color: black;
}


/* Для адаптивности чата по ширине */

@media (max-width: 1000px) {
    .vjs-chat {
        width: inherit;
        bottom: -30%;
        right: auto;
        left: auto;
    }
}

@media (max-width: 600px) {
    .video-js {
        width: 360px;
    }
}